*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    
    font-family: cursive;
    overflow:auto
    
}

.banner{
 
    background-image: url("../assets/image/design1_image1.jpg");
    background-clip: border-box;
    background-position: center top;
    height: 500px;

    border-style: dotted;

    opacity: 70%;
    align-items: baseline;
   

  
} 
.tituloylogo{
    align-items: stretch;
}

.logo{
    background-color: white;
    position: sticky;
    top: -1em;
    left: 60em;
    width: 20%;
    box-sizing: content-box;
}


.titulo{
    background-color: transparent;
    color:black;
    font-size: x-large; 
    font-weight: bold;
    font-size: 3em;
 
 
}
.menu{
    background-color: red;
    align-items: center;
    border-style: dotted;

    top:100px;
    left:220px;
    width:150px;
    padding:15px;
    box-sizing: content-box;
}

.csecundaria{
    align-items: stretch ;

    position: relative;
    box-sizing:content-box;
    

}


.titulo2{
    background-color: black;
    color: white;
}
.img1{
    width: 200px;
}
.listafechas {
    list-style:circle;
    align-content: space-between;
    border-style: dashed;
}
footer{
    padding-top:  2vmax;
    margin: 2em;
    align-self: center;
 
    align-content: center;
    text-align: center;
}