*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    
    font-family: cursive;
    overflow:auto
    
}

.banner{
 
    background-image: url("../assets/image/design1_image1.jpg");
    background-clip: border-box;
    background-position: center;
    height: 20em;
    opacity: 70%;
    align-items: baseline;
    position: relative;
    display: block;
   

  
} 
.container{
    
}
.tituloylogo{
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    align-content: center;

}

.logo{
    background-color: white;
  position: absolute;
    top: -1em;
    left: 60em;
    width: 13.5%;
    box-sizing: content-box;

}


.titulo{
    background-color: transparent;
    color:black;
    font-size: x-large; 
    font-weight: bold;
    padding: 10px;
 position:absolute;
 /*  align-items: center;
    border-style: dotted;

    top:100px;
    left:220px;
    width:150px;
    padding:15px;*/
    box-sizing: content-box;
    position: relative;
}
.titulo2{
    background-color: black;
    color: white;
}
.img1{
    width: 200px;
}
.csecundaria{
    

    position: relative;
    box-sizing:content-box;
 
    align-items: stretch;
    align-content: stretch;
    box-sizing: content-box;
    inline-size: auto;
    display: inline-flex;

    

}



.menu{
    width: 50%;
    align-items: center;
    box-sizing: content-box;
  
    padding: 20px;
    margin: 20px;
    display: inline-grid;
}
.listafechas {
    list-style:circle;
    list-style-type: circle;
    display:list-item;
    align-content: space-between;

    position: relative;
 
    box-sizing: content-box;
    width: 50%;
   
    padding: 5px;
margin: 20px;
}
footer{
    padding-top:  2vmax;
    margin: 2em;
    align-self: center;
 
    align-content: center;
    text-align: center;
}